<html lang="en">    
<head>    
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>QR 코드 생성기</title>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">    
</head>    
<body>    
    <div class="nav justify-content-center">    
        <div class="card border-primary mb-3" style="max-width: 18rem;margin-top: 20px;">    
            <div class="card-header">유저 정보</div>
        </div>
    </div>
</body>
</html>
