<html lang="en">
  <body>
    <h1>목록</h1>
    <ul>
      <% user.forEach((users) =>{ %>
        <li>
          <  a href=”/<%= user.emotion %>”</a><%= user.image %></a>
        </li>
      <% }) %>
    </ul>
  </body>
</html>