<!--넘어오는 data : foodImgList, foodVideoList / activityImgList, activityVideoList-->
<!--이미지와 비디오 조건 어떻게 나누지
조건에 따라 <img> 추가하거나 <video> 추가하면 될듯-->
<!DOCTYPE html>
<html>
    <head>
        <%- include ("./part/header") %>
    </head> 
 
    <body>
        <div class="bg">
        <% let data = adsList[Math.floor(Math.random()*adsList.length)]; %>
        <% console.log(data);%>
        <% if (data.indexOf('.jpg') != -1 ) { %>
            <video muted autoplay loop>
              <source src="<%= data %>" type="video/mp4">
            </video>
        <% } %>
        <!-- <% else if (data.indexOf('.mp4') != -1) { %> -->
        <% else { %>
            <img src="<%= data %>">
        <% } %>
        </div>

        <%- include ("./part/footer") %>
    </body>
</html>