<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/css/service.css' /> 
        <!-- jquery -->
        <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
        <script>
            function Timer(userID) { 
                console.log("======Timer 함수 내=======");
                console.log(userID);
                setTimeout(callAPI, 15000, userID); // 1초: 1000,  15초 후에 db에 저장하면서 rating화면으로 전환.
            }
            function callAPI(userID) {
                location.href= "/rating/home/" + userID;
            }
        </script>
    </head> 
    <body>
        <h3 style='display:none;'><%= userID %></h3>
        <script>
            const userID = document.querySelector('h3').innerText;
            console.log(userID);
            Timer(userID);
        </script>
        <div class="bg">
        <% adSrc = adSrc %>
        <% console.log(adSrc); %>
        <% if (adSrc.toLowerCase().indexOf('.jpg') != -1 || adSrc.toLowerCase().indexOf('.jpeg') != -1) { %>
            <img src="<%= adSrc %>"/>
        <% }else if (adSrc.indexOf('.mp4') != -1) { %>
            <video muted autoplay loop>
                <source src="<%= adSrc %>" type="video/mp4">
            </video>
        <% } %>
        </div>
    </body>
</html>