<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/css/main.css' /> 
        <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
        <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script>
            function Timer(ad_ID, user_ID) { 
                console.log("======Timer 함수 내=======");
                console.log(ad_ID, user_ID);
                setTimeout(callAPI, 15000, ad_ID, user_ID); //15초 후에 db에 저장하면서 rating화면으로 전환.
            } 
            function callAPI(ad_ID, user_ID) {
                console.log("======callAPI함수 내=======");
                console.log(ad_ID);
                console.log(user_ID);
                console.log("call success");
                $.ajax({
                    url: '/adDB',
                    dataType: 'json',
                    type: 'POST',
                    data: {
                        'ad_id': ad_ID,
                        'user_id': user_ID
                    },
                    success: function(response) {
                        console.log('adDB 통신 success');
                        console.log(response.userID);

                        // 여기서 user_id와 함께 rating.ejs를 호출해야함. ajax를 여기서 한번 더 해볼까?
                        //호출하고 rating.ejs 페이지로 넘어가야하는데..
                        // $.ajax({
                        //     url: '/rating',
                        //     dataType: 'json',
                        //     type: 'POST',
                        //     data: {
                        //         'ad_id': ad_ID,
                        //         'user_id': user_ID
                        //     },
                        //     success: function(response) {
                        //         console.log('adDB 통신 success');
                        //         console.log(response.userID);
                        //         // res.render('rating', {
                        //         //     user_id:response.user_id
                        //         // })
                        //         console.log("'rating' 렌더링 성공");
                        //     }
                        // });
                    }
                });
                // location.replace("/rating"); -->
            }
        </script>
    </head> 
    <body>
        <h3 style='display:none;'><%= userID %></h3>
        <h2 style='display:none;'><%= adData.id %></h2>
        <script>
            const ad_ID = document.querySelector('h2').innerText;
            const user_ID = document.querySelector('h3').innerText;
            // console.log(user_ID, ad_ID);
            Timer(ad_ID, user_ID);
        </script>
        <div class="bg">
        <% adSrc = adData.src %>
        <% if (adSrc.toLowerCase().indexOf('.jpg') != -1 || adSrc.toLowerCase().indexOf('.jpeg') != -1) { %>
            <img src="<%= adData.src %>"/>
        <% }else if (adSrc.indexOf('.mp4') != -1) { %>
            <video muted autoplay loop>
                <source src="<%= adData.src %>" type="video/mp4">
            </video>
        <% } %>
        </div>
    </body>
</html>