<!DOCTYPE html>
 <html>
    <head>
        <title>Simple memo</title> 
        <link rel='stylesheet' href='/css/style.css' /> 
    </head> 
    <body>
        <h1>Service List</h1>
        <% let data = weatherList[Math.floor(Math.random()*weatherList.length)]; %>
        <div class="bg">
            <video muted autoplay loop>
              <source src="<%=data.video_src%>" type="video/mp4">
            </video>
            <div class="quote">
              <p><%=data.quote%></p>
              <p><%=data.quote_src%></p>
            </div>
          </div>
        </table> 
    </body> 
</html>
