<!DOCTYPE html>
 <html>
    <head>
        <title>Providing Healing Service..</title> 
        <link rel='stylesheet' href='/css/main.css' /> 
        <style>
          @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
        </style>
        <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
        <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
        <script>
          const weatherAPI = document.getElementById("weather");
          const API_KEY = "a0383cc2ac06a4b4308bb75c735f62d8"
          function onGeoOk(position){
                const lat = position.coords.latitude;
                const lon = position.coords.longitude;
                const url = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${API_KEY}&units=metric`;
                fetch(url)
                .then((response) => response.json())
                .then((data) => {
                    const cityTag = document.querySelector('#weather span:first-child');
                    const weatherTag =  document.querySelector('#weather span:last-child');
                    const temperature = data.main.temp;
                    const weather = data.weather[0].main;
                    const city = data.name;
                    cityTag.innerText = `City: ${city}`;
                    weatherTag.innerText = `Weather: ${weather}
                    Temporary: ${temperature} °C`;
                    const weatherList = [city, weather, temperature];
                    //serviceAPI(weatherList);
                });
          }
          function onGeoError() {
            alert("Can't find you. No weather for you.");
          }
          timer = setInterval( function() {
            //날씨api
            navigator.geolocation.getCurrentPosition(onGeoOk, onGeoError);           
          }, 5000);
        </script>  

    </head> 
    <body>
      <div id="container">
        <div class="bg">
          <video muted autoplay loop>
            <source src="<%= healingData.video_src %>" type="video/mp4">
          </video> 
          <div class="quote">
            <p class="quote_p1"><%=healingData.quote%></p>
            <p><%=healingData.quote_src%></p>
          </div>
        </div>
        <h2 id="date">날짜</h2>
        <script>
          const dateTag = document.querySelector("h2#date");
          date = new Date();
          dateFormat = String(moment(date).format(`dddd, Do MM YYYY`));
          dateTag.innerText= `${dateFormat}`;
        </script>
        <h2 id="clock">00:00:00</h2>
        <script>
          const clock = document.querySelector("h2#clock");

          function getClock() {
              const date = new Date();  //호출 당시 시각
              const hours = String(date.getHours()).padStart(2, "0");
              const minutes = String(date.getMinutes()).padStart(2, "0");
              const seconds = String(date.getSeconds()).padStart(2, "0");

              clock.innerText = `${hours}시 ${minutes}분 ${seconds}초`;
          } //이 함수를 매 2초마다 실행

          getClock();
          setInterval(getClock, 1000);  // 동작은 전혀 다름.
        </script>

        <div id="weather">
          <span></span>
          <br>
          <span></span>
        </div>
        <script>timer;</script>
      </div>
    </body> 
</html>
