<!DOCTYPE html>
 <html>
    <head>
        <title>Providing Healing Service</title> 
        <link rel='stylesheet' href='/css/service.css' /> 
        <link rel='shortcut icon' href="#"/>
        <!-- jquery -->
        <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ko.min.js"></script>
        <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
        <script>
          /*========== 날씨 api(openweatherapi이용) ==========*/
          const API_KEY = "a0383cc2ac06a4b4308bb75c735f62d8";

          /*========== js: 날씨 반영 =========== */
          // api 호출
          function onGeoOk_apiCall(position){
                const lat = position.coords.latitude;
                const lon = position.coords.longitude;
                const url = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${API_KEY}&units=metric`;
                fetch(url)
                .then((response) => response.json())
                .then((data) => {
                  setWeather(data); 
                  const weatherData = data.weather[0].main;
                  console.log('api 호출: ',weatherData);
                  weatherAPI(weatherData);
                })
          }
          function onGeoError() {
            alert("Can't find you. No weather for you.");
          }
          // 변수 저장
          function setWeather(data) {
            const cityTag = document.querySelector('#city');
            console.log(cityTag);
            const weatherTag =  document.querySelector('#weather');
            const tempTag = document.querySelector('#temp')
            const iconTag = document.querySelector('#weatherEle img');
            const temperature = data.main.temp;
            const weatherData = data.weather[0].main;
            const cityData = data.name;
            
            const iconCode = data.weather[0].icon;
            console.log(iconCode);
            const iconUrl ='http://openweathermap.org/img/wn/'+iconCode+'@2x.png';
            // html 수정
            cityTag.innerText = `City: ${cityData}`;
            weatherTag.innerText = `Weather: ${weatherData}`;
            tempTag.innerText = `Temporary: ${temperature} °C`;
            iconTag.setAttribute('src', iconUrl);
          }
          timer_dl = setInterval( function() {
            DLapi();
          }, 2000); //2초마다 감정값(from 딥러닝서버) 수신 여부 체크
          timer_weather = setInterval( function() {
            navigator.geolocation.getCurrentPosition(onGeoOk_apiCall, onGeoError);
          }, 900000); // 15분마다 날씨api 요청
        </script>
    </head> 
    <body>
        <div class="bg">
            <video muted autoplay loop src="<%=healingData.video_src%>" type="video/mp4">
            </video>
            <div class="quote">
              <p><%=healingData.quote%></p>
              <p><%=healingData.quote_src%></p>
            </div>

            <!-- html: 일시와 시계 -->
            <div class="calendar">
              <span id="date">일시</span>
              <br>
              <span id="clock">00:00:00</span>
            </div>
          
            <script>
              /*======== js: 시계기능 =======*/
              const clock = document.querySelector("#clock");

              function getClock() {
                  const date = new Date();  //호출 당시 시각
                  const hours = String(date.getHours()).padStart(2, "0");
                  const minutes = String(date.getMinutes()).padStart(2, "0");
                  const seconds = String(date.getSeconds()).padStart(2, "0");

                  clock.innerText = `${hours}시 ${minutes}분 ${seconds}초`;
              } 

              setInterval(getClock, 1000);  // 1초마다 getClock() 호출
              getClock();                   // 처음 화면 셋팅 후

          /*======== js: 날짜기능 =======*/            
              const dateTag = document.querySelector("#date");
              date = new Date();
              dateFormat = moment(date).format('YYYY년 MM월 DD일 dddd');            
              dateTag.innerText= `${dateFormat}`;
            </script>
          <!-- html: 날씨 아이콘-->
              <div id="weatherEle">
                <table>
                  <tr>
                    <td><div><img id="icon" src="" alt="Weather icon"></div></td>
                    <td>
                      <span id="city"></span>
                      <br>
                      <span id="weather"></span>
                      <br>
                      <span id="temp"></span>
                    </td>
                  <tr>
                </table>
              </div>
              <script>
                // =========== 처음 화면에서 날씨를 보여주기위해 날씨 api호출
                navigator.geolocation.getCurrentPosition(onGeoOk_apiCall, onGeoError);
                timer_dl; // 딥러닝서버에 요청 (2초)
                timer_weather;  // 날씨api호출 (15분)
              </script>
              <script src="/js/healing.js"></script>
          </div>
        </table> 
    </body> 
</html>