/*  현재 문제 : 
1. 사진에 따라 글꼴 위치가 바뀜. 
2. 사진이 화면에 꽉 안참. 
*/
*{
    font-family: 'Do Hyeon', sans-serif;
}
#container{
    height: 400px;
    width:400px;
    position: relative;
}
.hidden{
    display:none;
}
body {
    padding: 0px;
    margin: 0px;
}
.bg {
    position: absolute;
    left: 0;
    top: 0;
    size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px auto;
}
video {
    width: 100%;
    height: 100%;
}
img {
    width: 100%;
    height: 100%;
}
.quote{
    text-align: center;
    z-index:2;
    justify-content: center;
    align-items: center;
    bottom: 30%; 
    width: 500px;
    font-size: 1.8em; 
    position: absolute;
    margin: 1.25em 0 0.2em;

    left: 35%; 
    color: rgb(102, 97, 22);
    background-color: rgba(255,255,255,0.4);
}


#clock{
    text-align: center;
    z-index:2;
    width: 170px; 
    bottom: 330px; 
    font-size: 2.0em; 
    font-weight: bold; 
    position: absolute;
    color: #000;
    background-color: rgba(255,255,255,0.3);
}
#weather{
    text-align: center;
    z-index:2;
    width: 300px; 
    font-size: 1.8em; 
    font-weight: bold; 
    position: absolute;
    left: 250%;
    bottom: -80%;
    color: rgb(41, 50, 73);
    background-color: rgba(255,255,255,0.6);
}

#date{
    text-align: center;
    margin-left: 20px;
    z-index:2;
    font-size: 2.0em; 
    font-weight: bold; 
    position: absolute;
    color: #000;
    background-color: rgba(255,255,255,0.3);
}
