/*  현재 문제 : 
1. 사진에 따라 글꼴 위치가 바뀜. 
2. 사진이 화면에 꽉 안참. 
*/
*{
    font-family: 'Do Hyeon', sans-serif;
}
<<<<<<< HEAD
#container{
    height: 400px;
    width:400px;
    position: relative;
}
=======

>>>>>>> 6577f16041e4b678bfd0a0796ff99c090eb25dbf
.hidden{
    display:none;
}
body {
    padding: 0px;
    margin: 0px;
}
.bg {
    position: absolute;
    left: 0;
    top: 0;
    size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px auto;
}
video {
    width: 100%;
    height: 100%;
}
img {
    width: 100%;
    height: 100%;
}
.quote{
<<<<<<< HEAD
    text-align: center;
    z-index:2;
    justify-content: center;
    align-items: center;
    bottom: 30%; 
    width: 500px;
    font-size: 1.8em; 
    position: absolute;
    margin: 1.25em 0 0.2em;

    left: 35%; 
    color: rgb(102, 97, 22);
    background-color: rgba(255,255,255,0.4);
=======
    z-index:2;
    justify-content: center;
    align-items: center;
    bottom: 20%; 
    width: 550px;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em; 
    position: absolute;
    margin: 1.25em 0 0.2em;
    left: 30%; 
    color: rgb(61, 58, 7);
    background-color: rgba(255,255,255,0.5);
>>>>>>> 6577f16041e4b678bfd0a0796ff99c090eb25dbf
}


#clock{
    text-align: center;
    z-index:2;
    width: 170px; 
<<<<<<< HEAD
    bottom: 330px; 
=======
    bottom: 650px; 
>>>>>>> 6577f16041e4b678bfd0a0796ff99c090eb25dbf
    font-size: 2.0em; 
    font-weight: bold; 
    position: absolute;
    color: #000;
    background-color: rgba(255,255,255,0.3);
}
<<<<<<< HEAD
#weather{
    text-align: center;
    z-index:2;
    width: 300px; 
    font-size: 1.8em; 
    font-weight: bold; 
    position: absolute;
    left: 250%;
    bottom: -80%;
    color: rgb(45, 88, 204);
    background-color: rgba(255,255,255,0.6);
}


=======
>>>>>>> 6577f16041e4b678bfd0a0796ff99c090eb25dbf
#date{
    text-align: center;
    margin-left: 20px;
    z-index:2;
    font-size: 2.0em; 
    font-weight: bold; 
    position: absolute;
    color: #000;
    background-color: rgba(255,255,255,0.3);
}
<<<<<<< HEAD
=======
#weather{
    text-align: center;
    z-index:2;
    width: 250px; 
    font-size: 1.8em; 
    font-weight: bold; 
    position: absolute;
    left: 800px;
    bottom: -80%;
    color: rgb(45, 88, 204);
    background-color: rgba(255,255,255,0.6);
}
>>>>>>> 6577f16041e4b678bfd0a0796ff99c090eb25dbf
