/*  현재 문제 : 
1. 사진에 따라 글꼴 위치가 바뀜. 
2. 사진이 화면에 꽉 안참. 
*/
*{
    font-family: 'Do Hyeon', sans-serif;
}

.hidden{
    display:none;
}

#container{
    height: 400px;
    width:400px;
    position: relative;
}
#bgImage{
    position: absolute;
    left: 0;
    top: 0;
    size: cover;
    height: 100vh;
}
.text {
    z-index: 100;
    position: absolute;
    left: 150px;
    top: 350px;
}
.quote{
    text-align: center;
    z-index:2;
    justify-content: center;
    align-items: center;
    bottom: 8%; 
    width: 450px;
    font-size: 1.8em; 
    position: absolute;
    margin: 1.25em 0 0.2em;

    left: 80%; 
    color: rgb(247, 237, 101);
    background-color: rgba(255,255,255,0.5);
}
#clock{
    text-align: center;
    z-index:2;
    width: 220px; 
    bottom: 270px; 
    font-size: 2.0em; 
    font-weight: bold; 
    position: absolute;
    color: #000;
    background-color: rgba(255,255,255,0.3);
}

#weather{
    text-align: center;
    z-index:2;
    width: 250px; 
    font-size: 1.8em; 
    font-weight: bold; 
    position: absolute;
    left: 800px;
    bottom: -80%;
    color: rgb(45, 88, 204);
    background-color: rgba(255,255,255,0.6);
}
