*{
    font-family: 'Do Hyeon', sans-serif;
}
#container{
    top:0;
    left:0;
    height: 0;
    width:100%;
    position: relative;
    
}

body {
    padding: 0px;
    margin: 0px;
}

.hidden {
    display: none;
}


.bg video {
    /* position: absolute; */
    top:0;
    left:0;
    max-width: 100%;
    height: 100%;
    /* object-fit:contain; */
}
.bg img {
    position: absolute;
    width: 100%;
    height: 100%;
}
#clock{
    left:7%;
    text-align: center;
    z-index:2;
    width: 200px; 
    bottom: 650px; 
    font-size: 2.0em; 
    font-weight: bold; 
    position: absolute;
    color: #000;
    background-color: rgba(255,255,255,0.3);
}

#weather{
    text-align: center;
    z-index:2;
    width: 300px; 
    font-size: 1.8em; 
    font-weight: bold; 
    position: absolute;
    bottom:20%;
    left: 70%;
    color: rgb(41, 50, 73);
    background-color: rgba(255,255,255,0.6);
}

#quote{
    text-align: center;
    z-index:2;
    align-items: center;
    width: 500px;
    font-size: 1.8em; 
    left:30%;
    bottom: 30%;
    position: absolute;
    margin: 1.25em 0 0.2em;
    color: rgb(102, 97, 22);
    background-color: rgba(255,255,255,0.4);
}

#date{
    left:3%;
    text-align: center;
    width:350px;
    z-index:2;
    bottom: 700px; 
    font-size: 2.0em; 
    font-weight: bold; 
    position: absolute;
    color: #000;
    background-color: rgba(255,255,255,0.3);
}

