.bg {
    width: 200px;
    height: 150px;
    overflow: hidden;
    }

.bg img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#bgd {
    position: absolute;
    background-image: url("../img/category_bg.jpg");
    background-size: 121%;
    background-repeat: no-repeat;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height: auto;
    min-height: 1500px;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    opacity: 0.8;
    overflow: hidden;
}

.container-max{
    max-width: 1200px;
}

#content {
    color: #f2f2f2;
    position: relative;
    margin-left: 18%;
    margin-top: 9.5%;
}

#content h1 {
    font-family: "Exo 2","Helvetica Neue",Helvetica,sans-serif;
    color: #575656;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 74px;
    margin: 1.25em 0 0.2em;
    letter-spacing: -2px;
}

#content p {
    margin: 0 0 1.313em;
    font-size: 20px;
    font-weight: 300;
}

#content #your-move {
    text-decoration: none;
    text-transform: uppercase;
    color: #f2f2f2;
    border: 1px solid rgb(180, 137, 250);
    border-color:rgb(180, 137, 250);
    background-color:rgb(180, 137, 250);
    

    display: inline-block;
    padding: 19px;
    font-size: 19px;
}

#content #your-move:hover {
    border-color: rgb(132, 37, 156);
    background-color:rgb(132, 37, 156);
}
